@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(http://fonts.googleapis.com/css?family=Tangerine);
@font-face{
	font-family: billionstars;
	src: url(../fonts/billionstars.ttf);
}
@font-face{
	font-family: candy;
	src: url(../fonts/candy.otf);
}